/* css/styles.css */

body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

#content {
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   gap: 20px;
   justify-items: center;
   margin-top: 20px;
}

.cycle {
  margin-bottom: 20px;
  text-align: center;
}

.cycle .course span:first-child {
  display: block; /* Hace que el primer <span> ocupe toda la línea */
  margin-bottom: 10px; /* Ajusta el espacio entre el nombre y los créditos */
}

.course {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.course.unlocked {
  background-color: #90ee90; /* Verde claro cuando está desbloqueado */
}

.course.approved {
  text-decoration: line-through;
  background-color: #90ee90; /* Fondo verde cuando está aprobado */
}

.course:hover {
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}
